<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge chrome=1">
  <meta name="renderer" content="webkit">
  <title>找药平台系统</title>
  <link rel="stylesheet" href="/fonts/iconfont.css" />
  <script>
    window.configs = {
        ADMIN_URL: 'http://192.168.10.166:8080/manager',
        //ADMIN_URL: 'http://192.168.1.148:8080/manager',
    };
  </script>
</head>
<body>
<!--[if lte IE 9]>
<div class="ie-support" style="width:100%;height:50px;background-color: #fecb31;color: #fff;text-align: center;line-height: 50px;font-size: 18px;">系统不支持IE9及IE9以下版本的IE浏览器，建议使用谷歌、火狐、IE11、360安全浏览器</div>
<![endif]-->
  <div id="root"></div>
</body>
</html>
